/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *

 *= require_tree .
 *= require_self
 */
 body {
  background-color: #95a5a6;
  background-image: url(../assets/connect.png);
 }

 .main-container {
  width: 600px;
  margin: 20px auto;
  background-color: #34495e;
  border-radius: 6px;
  min-height: 300px;
  /*border: 1px solid #101010;*/
 }

 .content-container {
  padding: 0 20px 20px 20px;
 }

 .form-container {
  width: 300px;
  margin: auto;
 }

 .navbar-brand {
  font-family: 'Chango', cursive;
 }

 .navbar {
  border-radius: 5px 5px 0 0;
 }

 audio {
  margin-bottom: 10px;
 }
