<!DOCTYPE html>
<html>
<head>
  <title>Spella-O-Rama</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <link href='http://fonts.googleapis.com/css?family=Chango' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>


<div class="main-container">
  <div id="navbar"></div>
  <div class="content-container">
    <div id="results"></div>
    <div id="word"></div>
  </div>
</div>

</body>
</html>
